*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
}

body{
    height: 100%;
    width: 100%;
}

/* Background image for controlling opecity and blend color */
header::before{
    content: "";
    background-image: url('../assets/bg.png'),linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode:multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    height: 110%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    /* opacity: 0.8; */
    /* background-position: center; */
}

/* Header Section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 5px 50px;
    margin-top: 35px;   
}
.li, a{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #ffc233;
}
a:hover{
    color: white;
}
.logo{
    cursor: pointer;
}
.btn1{
    font-size: 20px;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    padding: 10px 25px;
    border: none;
    color: white;
    cursor: pointer;
    background: #ff505f;
    /* background-color: #c59a34; */
    /* border-radius: 25px; */
    /* font-weight: 300; */    
}
.btn1:hover{
    background: white;
    color: #ff505f;
    transition: 0.6s;
}

/* Main Section */
.main{
    /* max-width: 1154px; */
    /* margin: 0 auto; */
    text-align: center;
    margin-top: 0px;
}
.main-font{
    /* font-size: 100px; */
    /* color: #ddff00; */
    font-family: "Dela Gothic One", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 100px;
    color: #ffc233;
}
.btn2{
    font-size: 20px;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    margin-top: 50px;
    padding: 10px 35px;
    border: none;
    color: white;
    cursor: pointer;
    background: #ff505f;
    /* background-color: #c59a34; */
    /* border-radius: 25px; */
    /* font-weight: 300; */
}
.btn2:hover{
    background: white;
    color: #ff505f;
    transition: 0.6s;
}

/* Footer Section */
.scroll{
    height: 120px;
    width: 120px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}